<% if signed_in? %>
    <div class="row" id="__chat_container" data-user="<%= @current_user.id %>" data-url="<%= request.host %>:<%= request.port %>/websocket">
      <div class="span4">
        <h3>Chat List <%= link_to "Add Contact", "contacts/new?status=0", class: "add-contact"%></h3>
        <%= render 'shared/chatters' %>
      </div>
      <div class="span8">
        <h3>&nbsp;</h3>
        <%= render 'shared/histories' %>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome to the Pilot App</h1>

      <h2>
        This is the home page for the
        <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
      </h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>

    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>